@media only screen and (min-width: 500px) {
  .PlaylistContainer {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100%;
    min-height: 900px;
  }

  .plalistBlockin {
    grid-template-columns: 1fr 1fr 1fr;
    width: min-content;
  }

  .plalistBlock {
    overflow: auto;
    height: 100%;
  }
}

.plalistBlock {
  background: linear-gradient(
    90deg,
    rgba(36, 0, 4, 1) 0%,
    rgba(121, 9, 41, 1) 27%,
    rgba(255, 0, 0, 0.5217437316723564) 100%
  );
}
